* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* color: #333; */
  /* font-family: 'Cera Pro'; */
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Recoleta";
  src: url("../../assets/font/Recoleta-Medium.eot");
  src: local("Recoleta Medium"), local("Recoleta-Medium"),
    url("../../assets/font/Recoleta-Medium.eot?#iefix") format("embedded-opentype"),
    url("../../assets/font/Recoleta-Medium.woff2") format("woff2"),
    url("../../assets/font/Recoleta-Medium.woff") format("woff"),
    url("../../assets/font/Recoleta-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Recoleta";
  src: url("../../assets/font/Recoleta-SemiBold.eot");
  src: local("Recoleta SemiBold"), local("Recoleta-SemiBold"),
    url("../../assets/font/Recoleta-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../../assets/font/Recoleta-SemiBold.woff2") format("woff2"),
    url("../../assets/font/Recoleta-SemiBold.woff") format("woff"),
    url("../../assets/font/Recoleta-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta";
  src: url("../../assets/font/Recoleta-Regular.eot");
  src: local("Recoleta Regular"), local("Recoleta-Regular"),
    url("../../assets/font/Recoleta-Regular.eot?#iefix") format("embedded-opentype"),
    url("../../assets/font/Recoleta-Regular.woff2") format("woff2"),
    url("../../assets/font/Recoleta-Regular.woff") format("woff"),
    url("../../assets/font/Recoleta-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta";
  src: url("../../assets/font/Recoleta-Bold.eot");
  src: local("Recoleta Bold"), local("Recoleta-Bold"),
    url("../../assets/font/Recoleta-Bold.eot?#iefix") format("embedded-opentype"),
    url("../../assets/font/Recoleta-Bold.woff2") format("woff2"),
    url("../../assets/font/Recoleta-Bold.woff") format("woff"),
    url("../../assets/font/Recoleta-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../../assets/font/CeraPro-Regular.eot");
  src: url("../../assets/font/CeraPro-Regular.eot?#iefix") format("embedded-opentype"),
    url("../../assets/font/CeraPro-Regular.woff2") format("woff2"),
    url("../../assets/font/CeraPro-Regular.woff") format("woff"),
    url("../../assets/font/CeraPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../../assets/font/CeraPro-Medium.eot");
  src: url("../../assets/font/CeraPro-Medium.eot?#iefix") format("embedded-opentype"),
    url("../../assets/font/CeraPro-Medium.woff2") format("woff2"),
    url("../../assets/font/CeraPro-Medium.woff") format("woff"),
    url("../../assets/font/CeraPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../../assets/font/CeraPro-Light.eot");
  src: url("../../assets/font/CeraPro-Light.eot?#iefix") format("embedded-opentype"),
    url("../../assets/font/CeraPro-Light.woff2") format("woff2"),
    url("../../assets/font/CeraPro-Light.woff") format("woff"),
    url("../../assets/font/CeraPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../../assets/font/CeraPro-Bold.eot");
  src: url("../../assets/font/CeraPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("../../assets/font/CeraPro-Bold.woff2") format("woff2"),
    url("../../assets/font/CeraPro-Bold.woff") format("woff"),
    url("../../assets/font/CeraPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

#hor-col {
  padding-right: 30px;
}
#hor-col2 {
  padding-left: 30px;
}
hr.solid {
  color: #dddddd;
}
/**NAVBAR**/
.navbar {
  background-color: white;
  padding-top: 11px;
  padding-bottom: 11px;
}
.navbar .container {
  padding: 8px 0px;
}
.navbar-nav .nav-item .nav-link {
  color: #51596b !important;
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  margin-right: 15px;
}
.navbar-nav .nav-item:hover a {
  color: #5c31f6 !important;
}
#nav-btn1 {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #51596b;
  margin-right: 20px;
  border: none;
  padding: 10px 20px;
}
#nav-btn1:hover {
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  background: linear-gradient(63.09deg, #5c31f6 -8.38%, #6169f6 39.09%, #bf8cfe 90.68%);
  border-radius: 6px;
}
#nav-btn2 {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #ffffff;
  padding: 10px 25px;
  border: none;
  background: linear-gradient(63.09deg, #5c31f6 -8.38%, #6169f6 39.09%, #bf8cfe 90.68%);
  border-radius: 6px;
}
#nav-btn2:hover {
  background: linear-gradient(63.09deg, #bf8cfe -8.38%, #6169f6 39.09%, #5c31f6 90.68%);
}

/**media query**/
@media only screen and (max-width: 1350px) and (min-width: 1200px) {
}
@media only screen and (max-width: 1199.98px) and (min-width: 900px) {
  #logo3 {
    width: 250px;
  }
  .navbar-nav .nav-item .nav-link {
    margin-right: 5px;
  }
  #nav-btn1 {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 600px) {
  #logo3 {
    width: 250px;
  }
  #navbar-top .nav-item {
    margin-left: 20px;
  }
  #navbar-top {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .navbar-light .navbar-brand img {
    margin-left: 20px;
  }
  .navbar .container {
    padding: 1em;
  }
}
@media only screen and (max-width: 599.98px) and (min-width: 320px) {
  #logo3 {
    width: 200px;
  }
  .navbar-nav .nav-item {
    margin-left: 43px;
  }
  #nav-btn1 {
    margin-left: 20px;
  }
  .navbar-light {
    padding: 1em;
  }
}
/**END OF NAVBAR**/

/**INDIVIDUALOGIST**/
.individual {
  padding: 64px 0px;
  background: linear-gradient(180deg, #ebecff 0%, rgba(250, 251, 254, 0) 100%);
  text-align: center;
}
.individual .container h1 {
  font-family: "Recoleta";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #081a44;
}
#heading {
  font-weight: 600;
}
.individual .container h6 {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #51596b;
  margin-bottom: 34px;
}
.individual .container .row {
  justify-content: center;
  /* margin-left: 20%;
  margin-right: 20%; */
  margin-top: 34px;
  margin-bottom: 50px;
}
.individual .col-sm-4 .ad-unit {
  margin-top: 4.6em;
}
.row .col .ind-img {
  margin-bottom: 20px;
  text-align: center;
}
.ind-img-sec {
  background: #fff;
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  width: 86px;
  height: 86px;
}
.ind-img img {
  margin: 0px;
  width: 100%;
  height: 100%;
}
.ind-img h6 {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #20174d !important;
  margin-top: 10px;
}
.individual .container h5 {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #081a44;
  margin-bottom: 12px;
}
#ind-para {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.023em;
  width: 465px;
  margin: auto;
  color: #51596b;
}
#main-btn {
  margin-top: 20px;
}
#discover1 {
  font-weight: bold;
  color: white;
}
#main-btn a {
  background: linear-gradient(63.09deg, #5c31f6 -8.38%, #6169f6 39.09%, #bf8cfe 90.68%);
  border-radius: 6px;
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #ffffff;
  padding: 11px 21px;
  display: inline-block;

  transition: background 1.1s cubic-bezier(0.19, 1, 0.22, 1);
}
#main-btn a:hover {
  background: linear-gradient(63.09deg, #bf8cfe -8.38%, #6169f6 39.09%, #5c31f6 90.68%);
  text-decoration: none;
}
#discover {
  font-weight: bold;
}

#main-btn a .fa {
  margin-left: 10px;
  color: white;
}

/**media query**/
/**tab view**/
@media only screen and (max-width: 899.98px) and (min-width: 600px) {
  .individual .container .row {
    margin-left: 0%;
    margin-right: 0%;
  }
}
/**mobile view**/
@media only screen and (max-width: 599.98px) and (min-width: 320px) {
  .individual .container h1 {
    font-size: 20px;
  }
  .individual .container h6 {
    font-size: 16px;
  }
  .individual {
    padding: 30px 0px;
  }
  #ind-para {
    font-size: 14px;
    width: 300px;
  }
  .individual .container .row {
    margin-bottom: 20px;
  }
  .individual .container h5 {
    font-size: 16px;
    margin-bottom: 5px;
  }
}
/**END OF INDIVIDUALOGIST**/

/** HOROSCOPE**/
.horoscope,
.horoscope-nav {
  padding: 59px 0px;
  text-align: center;
}
.horoscope .container h2,
.horoscope-nav .container h2 {
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #081a44;
  margin-bottom: 10px;
}
.horoscope .container h6,
.horoscope-nav .container h6 {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  max-width: 470px;
  margin: auto;
  color: #51596b;
  width: 100%;
}
#daily {
  text-align: left;
  width: 100%;
  margin-top: 36px;
  margin-bottom: 10px;
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #081a44;
}

/**first column**/
.horo-col {
  padding-top: 30px;
  margin-bottom: 15px;
  margin-right: 20px;
  height: 150px;
  width: 125px;
  text-align: center;
  background: linear-gradient(180deg, #e4e0fb 0%, #f2e4f1 100%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}
.horo-col img {
  height: 50px;
  width: 60px;
}
.horo-col h5 {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 15px;
  color: #081a44;
}
.horo-col p {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #51596b;
  margin-bottom: 0px;
}
/**end of first column**/

/**second-col**/
.first-img img {
  width: 100%;
}
.first-img h3 {
  margin-top: -100px;
  margin-left: 28px;
  position: absolute;
  font-family: Recoleta;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 35px;
  color: #ffffff;
  text-align: left;
}

.first-img {
  width: 100%;
  height: 100%;
}
.first-img h4 {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #081a44;
  margin-top: 22px;
  margin-bottom: 10px;
  text-align: left;
}
.first-img p {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #51596b;
  width: 85%;
  text-align: left;
}
.second-img {
  text-align: left;
  padding-top: -50px;
}

.second-img img {
  height: 100%;
  width: 100%;
}
.second-img h5 {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 10px;
  color: #081a44;
}

#image30 {
  margin-top: 20px;
}
#col-heading {
  text-align: left;
  margin-left: 0px;
}
#col-heading a {
  text-align: left;
  margin-left: 0px;
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #081a44;
}
#col-heading a img {
  margin-left: 10px;
}
#col-heading:hover a {
  text-decoration: none;
}
.last-col {
  text-align: left;
  margin-top: 39px;
  display: flex;
}
.last-col h5 {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #081a44;
  margin-left: 10px;
  margin-top: 10px;
}
.hor-btn {
  margin-top: 50px;
}
.hor-btn a {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
  color: #ffffff !important;
  padding: 10px 20px;
  background: linear-gradient(63.09deg, #5c31f6 -8.38%, #6169f6 39.09%, #bf8cfe 90.68%);
  border-radius: 5px;
}
.hor-btn a:hover {
  text-decoration: none;
  background: linear-gradient(63.09deg, #bf8cfe -8.38%, #6169f6 39.09%, #5c31f6 90.68%);
}
/**end of 2nd col**/

/**media query**/

@media only screen and (max-width: 1200px) and (min-width: 900px) {
}
/**tab view**/
@media only screen and (max-width: 899.98px) and (min-width: 600px) {
  .second-img {
    display: flex;
  }
  .second-img20 {
    margin-left: 30px;
    margin-top: -17px;
  }
  .first-img {
    width: 90%;
    margin-top: 30px;
  }
  #col-heading {
    margin-top: 30px;
  }
  .first-img p {
    margin-bottom: -20px;
  }
  #col-heading a {
    padding-top: 50px;
  }
  #image20,
  #image30 {
    width: 200px;
    height: 120px;
  }
  .first-img p {
    margin-bottom: 25px;
  }
  #col-heading a img {
    margin-top: -8px;
  }
  .horo-col {
    width: 155px;
  }
}
/**mobile view**/
@media only screen and (max-width: 599.98px) and (min-width: 320px) {
  .horoscope {
    padding: 20px 0px;
  }
  .horoscope .container h6 {
    width: 320px;
    font-size: 14px;
    margin-top: -15px;
  }
  .horoscope .container h2 {
    font-size: 24px;
  }
  #daily {
    margin-top: 20px;
    font-size: 16px;
  }
  .horoscope .container .row {
    text-align: center;
  }
  #col-heading {
    margin: 1em 0;
  }
  .first-img h3 {
    font-size: 24px;
  }
  #horo-col {
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .first-img {
    width: 300px;
  }
  .first-img p {
    width: 100%;
  }
  /* #image20,
  #image30 {
    width: 200px;
    height: 130px;
  } */
  .horoscope-category h5 {
    text-align: center;
  }

  .horoscope-category .col-sm-6.text-left.my-auto {
    padding-left: 0px !important;
    padding-right: 0px;
  }
}
@media only screen and (max-width: 420px) and (min-width: 320px) {
  .horoscope .container h6 {
    width: 290px;
    font-size: 14px;
    margin-top: -15px;
  }
  .horo-col {
    width: 100px !important;
    padding-top: 15px;
    padding-bottom: 10px;
    height: 130px;
  }
  .horo-col h5 {
    font-size: 14px;
  }
  .horo-col img {
    height: 40px;
    width: 50px;
  }
  .horo-col p {
    font-size: 10px;
  }
  .first-img {
    width: 100%;
  }
}
@media only screen and (max-width: 350px) and (min-width: 320px) {
  .horo-col {
    width: 92px;
    padding-top: 15px;
    padding-bottom: 10px;
    height: 130px;
  }
}
/**END OF YOUR HOROSCOPE**/

/**TARROT**/
.tarot {
  padding-top: 60px;
  padding-bottom: 60px;
}
.tarot .container h2 {
  font-family: Recoleta;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #081a44;
  margin-bottom: 10px;
}
#tar-col1 {
  margin-bottom: 20px;
}
.tarot .container h6 {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  line-height: 23px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  color: #51596b;
  max-width: 470px;
  width: 100%;
}
.card1 {
  padding-top: 38px;
  padding-bottom: 47px;
  height: 419px;
  background-image: linear-gradient(180deg, #b89c94 0%, #dc989c 100%), url("../../assets/images/tarot/card1/photo1.png");
  border-radius: 6px;
  text-align: center;
}
.card1 h3 {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  margin-bottom: 34px;
}
.card50 {
  display: flex;
}
.card1 {
  width: 47%;
}
.card1 h4 {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  margin-top: 24px;
}
.card2 {
  background: linear-gradient(189.05deg, #c2a3d0 -3.14%, #838dc1 101.4%);
  border-radius: 6px;
  height: 419px;
  text-align: center;
  padding-top: 98px;
  width: 47%;
  margin: auto;
}
.card2 h3 {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;

  /* White */
  margin-bottom: 44px;
  color: #ffffff;
}
#card-bold {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-align: center;

  /* White */

  color: #ffffff;
}
.card3 h3 {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;

  /* Dark Blue */

  color: #081a44;
}
.card4 img {
  width: 100%;
  margin-bottom: 3px;
}
.card4 h5 {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  /* Dark Blue */

  color: #081a44;
}
.card5 p {
  text-align: left;
  margin-top: 10px;
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  /* Dark Blue */

  color: #081a44;
}
#tarot-btn {
  margin-top: 58px;
  text-align: center;
}
#tarot-btn a {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
  padding: 10px 20px;
  color: #ffffff;
  background: linear-gradient(63.09deg, #5c31f6 -8.38%, #6169f6 39.09%, #bf8cfe 90.68%);
  border-radius: 5px;
}
#tarot-btn a:hover {
  background: linear-gradient(63.09deg, #bf8cfe -8.38%, #6169f6 39.09%, #5c31f6 90.68%);
  text-decoration: none;
}
/**media query**/

@media only screen and (max-width: 1200px) and (min-width: 900px) {
}
/**tab view**/
@media only screen and (max-width: 899.98px) and (min-width: 600px) {
  .tarot {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .tarot .container h2 {
    font-size: 24px;
  }

  .card1 {
    width: 280px;
    margin-bottom: 20px;
  }
  .card2 {
    width: 280px;
    margin-bottom: 30px;
  }
  .card4 img {
    margin-top: 20px;
    width: 280px;
    height: 187px;
  }
}
/**mobile view**/
@media only screen and (max-width: 599.98px) and (min-width: 320px) {
  .tarot {
    padding: 20px 10px;
  }
  .tarot .container h2 {
    font-size: 24px;
  }
  .tarot .container h6 {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -10px;
    font-size: 14px;
  }
  .card50 {
    display: block;
  }

  .card1 {
    margin-bottom: 20px;
    width: 280px;
    height: 419px;
    margin-left: auto;
    margin-right: auto;
  }
  .card2 {
    margin-bottom: 30px;
    width: 280px;
    height: 419px;
  }
  .card1 h3 {
    font-size: 18px;
  }
  .card1 h4 {
    font-size: 18px;
  }
  .card2 h3 {
    font-size: 16px;
  }
  .card3 h3 {
    font-size: 16px;
  }
  .card4 img {
    margin-top: 10px;
    width: 280px;
    height: 180px;
  }
  .card4 h5 {
    font-size: 14px;
  }
  #tarot-btn {
    margin-top: 30px;
  }
  .card5 p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 570px) and (min-width: 440px) {
}
/**END OF TARROT**/

/**COMPATIBILITY**/
.compatibility {
  padding-top: 60px;
  padding-bottom: 30px;
}
.compatibility .container h2 {
  font-family: Recoleta;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #081a44;
  margin-bottom: 10px;
}
.compatibility .container h6 {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  line-height: 23px;
  margin-left: auto;
  margin-right: auto;
  max-width: 605px;
  margin-bottom: 40px;
  color: #51596b;
  width: 100%;
}
/**columns**/

.comp-col {
  height: 350px;
}
.comp-col img {
  border-radius: 6px;
  width: 100%;
}
.comp-col h3 {
  font-family: Recoleta;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 35px;
  color: #ffffff;
  margin-top: -100px;
  margin-left: 30px;
}
.comp-col2 h4,
.comp-col3 h4 {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #081a44;
  margin-top: 0px;
  margin-bottom: 10px;
}
.comp-col2-img {
  width: 100%;
  height: 100;
}
.comp-col2 h5 {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #081a44;
  margin-top: 5px;
  margin-bottom: 20px;
}
.comp-flex {
  display: flex;
  height: 90px;
  margin-bottom: 10px;
}
.comp-flex img {
  width: 40%;
  height: 80px;
}
.comp-flex .comp-flex1 p {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #b5b5b5;
  margin-bottom: 5px;
}
.comp-flex {
  border-radius: 6px;
}
.comp-flex img {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.comp-flex .comp-flex1 {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.comp-flex .comp-flex1 {
  padding-left: 15px;
  background-color: #f5f7fa;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 15px;
  height: 80px;
}
.comp-flex .comp-flex1 h3 {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #081a44;
}
#comp-col2-img2 {
  margin-top: 30px;
}
.comp-flex .comp-flex1 {
  margin-bottom: 20px;
}
/**end of columns**/
#comp-btn {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 35px;
}
#comp-btn a {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
  color: #ffffff;
  padding: 10px 30px;
  background: linear-gradient(63.09deg, #5c31f6 -8.38%, #6169f6 39.09%, #bf8cfe 90.68%);
  border-radius: 5px;
}

#comp-btn a:hover {
  text-decoration: none;
  background: linear-gradient(63.09deg, #bf8cfe -8.38%, #6169f6 39.09%, #5c31f6 90.68%);
}
/**media query**/

@media only screen and (max-width: 1050px) and (min-width: 1000px) {
  .comp-col h3 {
    font-size: 20px;
    width: 100px;
  }
}
/**tab view**/
@media only screen and (max-width: 899.98px) and (min-width: 600px) {
  .compatibility {
    padding-top: 20px;
  }
  .compatibility .container h2 {
    font-size: 24px;
  }
  .compatibility .container h6 {
    font-size: 14px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -10px;
  }
}
/**mobile view**/
@media only screen and (max-width: 599.98px) and (min-width: 320px) {
  .compatibility {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .compatibility .container h2 {
    font-size: 24px;
  }
  .compatibility .container h6 {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    margin-top: -10px;
  }
  .comp-col {
    width: 90%;
    margin: auto;
  }
  .comp-col img {
    margin-bottom: 40px;
  }
  .comp-col h3 {
    margin-top: -150px;
    margin-bottom: 80px;
    font-size: 32px;
    width: 100px;
  }
  .comp-col2 h4 {
    margin-bottom: 20px;
  }
  .comp-col2 img {
    height: 120px;
    width: 200px;
  }
  .comp-col2 h5 {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .comp-flex .comp-flex1 {
    padding-right: 10px;
    padding-bottom: 10px;
  }
  .comp-flex .comp-flex1 h3 {
    font-size: 12px;
  }
  #comp-btn {
    margin-top: 10px;
  }
  .add img {
    width: 100%;
  }
  .add {
    margin-bottom: -20px;
  }
}
@media only screen and (max-width: 770px) and (min-width: 320px) {
  .comp-col {
    width: 280px;
    height: 350px;
    margin-bottom: 30px;
  }
}
/**END OF COMPATIBILITY**/

/**TRUST**/
.trust {
  padding-top: 70px;
  padding-bottom: 54px;
  text-align: center;
  background: linear-gradient(180deg, #ebecff 0%, rgba(250, 251, 254, 0) 63.54%);
}

.trust-img-sec {
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}
.trust-img-sec img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trust .container h5 {
  font-family: Recoleta;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #081a44;
  margin-left: 22%;
  margin-right: 22%;
  margin-bottom: 44px;
}
.trust .container .row {
  justify-content: center;
}
.trust-col h6 {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #081a44;
  margin-top: 15px;
  margin-bottom: 16px;
}
.trust-col p {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #51596b;
  width: 93%;
  margin: auto;
}
.trust-col p:hover {
  color: #000000;
}
/**tab view**/
@media only screen and (max-width: 899.98px) and (min-width: 600px) {
  .trust .container h5 {
    margin: auto;
    width: 600px;
    margin-bottom: 30px;
  }
  .trust-col p {
    padding-bottom: 30px;
    width: 100%;
  }
  .trust-col h6 {
    margin-top: -15px;
  }
}
/**mobile view**/
@media only screen and (max-width: 599.98px) and (min-width: 320px) {
  .trust {
    padding-top: 40px;
  }
  .trust .container h5 {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30pxpx;
  }
  .trust-col h6 {
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: -20px;
  }
  .trust-col p {
    font-size: 12px;
    margin-bottom: 30px;
  }
}
/**END OF TRUST**/

/** TESTIMONIAL**/
.testimonial {
  padding-bottom: 54px;
  position: relative;
}

.testimonial:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 80%;
  background-position: bottom;
  background-color: #081a44;
  bottom: 0;
}
.review {
  background-image: url("../../assets/images/testimonial/image1.png");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 40px 0px;
  text-align: center;
  z-index: 10;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  /* top: -100px; */
  max-width: 940px;
  width: 100%;
  margin: auto;
  min-height: 430px;
}
.review h3 {
  font-family: Recoleta;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #081a44;
  margin-bottom: 20px;
}

#orange {
  margin: auto;
  width: 100px;
  height: 1px;

  background: #ff4b11;
}
.review h4 {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #081a44;
  margin-bottom: 20px;
  margin-top: 30px;
}
.review p {
  font-family: "Cera Pro";
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #51596b;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 590px;
  width: 90%;
}
.review h5 {
  margin-top: 10px;
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #081a44;
  margin-bottom: 5px;
}
.review h6 {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #51596b;
}
/**mobile view**/
@media only screen and (max-width: 599.98px) and (min-width: 320px) {
  .review h3 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
  }
  .review h4 {
    margin-top: 10px;
    font-size: 16px;
  }
  .review p {
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 300px;
  }
}
/**END OF TESTIMONIAL**/

/**UNLOCK**/
.unlock {
  padding-top: 60px;
  padding-bottom: 100px;
}
.unlock-potentional {
  background-image: url("../../assets/images/unlock/photo1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 70px 40px;
  border-radius: 8px;
}

.unlock-heading h2 {
  font-family: Recoleta;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  text-align: center;
  width: 80%;
  color: #ffffff;
  margin: auto;
}
.unlock-para p {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  width: 80%;
  margin-bottom: 20px;
}
.unlock-para a {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  color: #081a44;
  background: #ffffff;
  border-radius: 4px;
  padding: 10px 20px;
  border-radius: 6px;
}
.unlock-para a:hover {
  color: white !important;
  background-color: black;
  border-radius: 6px;
}
.unlock-para a:hover .fa {
  color: white;
}
.unlock-para a .fa {
  margin-left: 7px;
}
.unlock-para a:hover #discover {
  color: white;
}
#discover {
  font-weight: bold;
}
/**media query**/
@media only screen and (max-width: 899.98px) and (min-width: 600px) {
  .unlock-heading h2 {
    width: 100%;
    font-size: 36px;
  }
  .unlock-para p {
    width: 100%;
  }
  .unlock {
    padding-bottom: 60px;
  }
}
/**mobile view**/
@media only screen and (max-width: 599.98px) and (min-width: 320px) {
  .unlock-potentional {
    padding: 2em;
  }
  .unlock-heading h2 {
    font-size: 20px;
    line-height: 30px;
    width: 100%;
    text-align: left;
  }
  .unlock-para p {
    width: 95%;
    font-size: 14px;
    padding-bottom: 30px;
    padding-top: 20px;
  }
  .unlock-para a {
    margin-top: 50px;
  }
  .unlock {
    padding-bottom: 20px;
  }
}
/**END OF UNLOCK**/
/**NEWS LWTTER**/
.news-letter {
}
.news {
  position: relative;
  display: flex;
  justify-content: center;
  background: linear-gradient(63.09deg, #5c31f6 -8.38%, #6169f6 39.09%, #bf8cfe 90.68%);
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px 0px;
}
.news h2 {
  font-family: Recoleta;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-right: 10px;
}
.news h6 {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  margin-right: 20px;
  margin-top: 5px;
}
.news a {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  /* line-height: 20px; */
  text-align: center;
  color: #ffffff !important;
  padding: 10px 20px;
  margin-bottom: 2px;
  background-color: #081a44;
  border-radius: 6px;
}

.news a .fa {
  margin-left: 6px;
  color: #ffffff !important;
  /* margin-bottom: 5px; */
}
.news a:hover {
  text-decoration: none;
  background-color: white;
  color: black !important;
}
.news a:hover .fa {
  color: black !important;
}

.personalized h6 {
  font-size: 16px !important;
  color: #20174d;
}
.learning-archetype .ind-img h6 {
  font-weight: normal !important;
}
/**media query**/
@media only screen and (max-width: 899.98px) and (min-width: 600px) {
  .news {
    padding: 35px 15px;
  }
  .newsh2 {
    width: 15%;
    font-size: 24px;
  }
  .news h6 {
    width: 45%;
  }
  .news a {
    width: 38%;
    padding-top: 13px;
    height: 53px;
    margin-top: 10px;
  }
}
/**mobile view**/
@media only screen and (max-width: 599.98px) and (min-width: 320px) {
  .news {
    display: block;
    padding: 2em;
    margin-bottom: -60px;
  }
  .news h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .news h6 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}
/**END OF NEWS LETTER**/

.add {
  margin-bottom: 55px;
  text-align: center;
}
.add img {
  max-width: 100%;
}
/**FOOTER**/
.last-section {
  margin-top: -60px;
  background: white;
  padding-top: 88px;
  padding-bottom: 20px;
}
.last-list h6 {
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 15px;
  color: #081a44;
}
.last-list ul {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
}

.last-list ul li a {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #51596b;
}
.last-list ul li:hover a {
  text-decoration: none;
}
.link-icon {
  display: flex;
}
.last-list ul li:hover a {
  color: #5c31f6 !important;
}

.links {
  padding: 10px 0px;
  margin-bottom: -10px;
}
.links ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 0;
}
.links ul li {
  margin-right: 20px;
}
.links ul li a {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #081a44;
}
.links ul li:hover a {
  color: #5c31f6 !important;
}
.links ul li a:hover {
  text-decoration: none;
}

.icons {
  display: flex;
  justify-content: center;
}
.icons a {
  width: 40px;
  height: 40px;
  margin-left: 15px;
  background-color: #edebeb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons a .fa {
  color: #1f2430;
}
.icons a:hover .fa {
  color: #fff;
}
.icons a:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}
.last-logo span {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 30px;
  color: #51596b;
  margin-left: 15px;
}
.policy {
  padding-left: 60px;
  text-align: right;
  margin-top: 8px;
}
.policy a {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 30px;
  text-align: right;
  color: #51596b;
  margin-right: 10px;
}
.policy a:hover {
  text-decoration: none;
  color: #5c31f6 !important;
}

.ads-text {
  font-family: "Cera Pro";
  color: #bbb;
}
.blog-feed .img-container img {
  width: 350px;
  height: 235px;
}
.blog-feed h3.medium.article-title.text-right {
  font-size: 1.3em;
  margin-top: 0.8em;
}
/**tab view**/
@media only screen and (max-width: 899.98px) and (min-width: 600px) {
  .links ul {
    display: block;
    padding-bottom: 26px;
  }
  .icons {
    justify-content: left;
  }
  .last-list h6 {
    font-size: 15px;
  }
  .policy {
    margin-top: -37px;
  }
}
/**mobile view**/
@media only screen and (max-width: 599.98px) and (min-width: 320px) {
  .last-section {
    text-align: center;
    margin-top: -80px;
    padding-top: 120px;
  }
  .links ul {
    display: block;
  }
  .last-list ul {
    margin-bottom: 30px;
  }
  .policy {
    padding-left: 0px;
    justify-content: center;
    text-align: center;
  }
  .icons {
    margin-top: 20px;
  }
  .last-logo span {
    display: block;
  }
  .last-list h6 {
    margin-bottom: 0px;
  }
  .links ul li a {
    line-height: 30px;
  }
}
/**END OF FOOTER**/

/* GENERAL STYLE */
.horo-sidebar {
  padding: 1em;
  margin-top: 1em;
}
.horo-sidebar h4 {
  margin-bottom: 1.5em;
}
.horo-sidebar h6 {
  word-wrap: break-word;
}
.loader {
  /* border: 8px solid #5C31F6; */
  border-radius: 50%;
  border-top: 8px solid #5c31f6;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/* GENERAL MEDIA QUERY */
/**mobile view**/
@media only screen and (max-width: 599.98px) and (min-width: 320px) {
  .individual .row.no-gutters {
    padding: 1em 2em 1em 1em;
  }
  .individual .row.no-gutters h6,
  .individual .row.no-gutters p {
    text-align: center !important;
  }
  .astro-nav {
    margin: 2em;
    margin-right: 6em;
  }
  .signUp {
    padding: 1em;
  }
}
